body{
    background-color: rgb(27, 175, 175);
    margin:10px;

}
#lista{
    background-color: #fff;
    margin:50px auto;
    padding:15px;
    border-radius:10px;
    max-width: 640px;
}
#tarefa{
    width:300px;
}
button:hover{
    cursor:pointer
}